*
!Package/Development/LinuxServer
!Package/Test/LinuxServer
!Package/Shipping/LinuxServer
#!certs/adhoc-ca.cer
#!certs/adhoc.cer
#!certs/adhoc.key
!docker/adhoc_container_init.sh
!adhoc-kiosk/target/adhoc-*-SNAPSHOT.jar
!adhoc-manager/target/adhoc-*-SNAPSHOT.jar
*.debug
