*
!Package/Development/LinuxServer
!Package/Test/LinuxServer
!Package/Shipping/LinuxServer
#Package/Development/LinuxServer/MyProject/Binaries/Linux/MyProjectServer.debug
#Package/Test/LinuxServer/MyProject/Binaries/Linux/MyProjectServer.debug
#Package/Shipping/LinuxServer/MyProject/Binaries/Linux/MyProjectServer.debug
#!certs/adhoc-ca.cer
#!certs/adhoc.cer
#!certs/adhoc.key
!docker/adhoc_container_init.sh
!adhoc-kiosk/target/adhoc-*-SNAPSHOT.jar
!adhoc-manager/target/adhoc-*-SNAPSHOT.jar
*.debug
