root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

[*.java]
#ij_java_packages_to_use_import_on_demand = java.util
ij_java_class_count_to_use_import_on_demand = 999
ij_java_continuation_indent_size = 8
#ij_java_wrap_comments = true
ij_java_doc_do_not_wrap_if_one_line = true
ij_java_line_comment_at_first_column = false
ij_any_indent_case_from_switch = false
ij_java_record_components_wrap = split_into_lines
ij_java_new_line_after_lparen_in_record_header = true
ij_java_rparen_on_new_line_in_record_header = true
#ij_java_align_multiline_records = true
ij_java_annotation_new_line_in_record_component = true

[*.properties]
ij_properties_keep_blank_lines = true

[*.xml]
ij_xml_continuation_indent_size = 8

[*.tf]
indent_size = 2
