root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

[*.java]
ij_java_continuation_indent_size = 8
#ij_java_wrap_comments = true
ij_java_doc_do_not_wrap_if_one_line = true
ij_java_line_comment_at_first_column = false
ij_any_indent_case_from_switch = false

[*.properties]
ij_properties_keep_blank_lines = true

[*.xml]
ij_xml_continuation_indent_size = 8

[*.tf]
indent_size = 2
