/certs
/env

/Package

/adhoc-angular/node_modules
/adhoc-angular/.angular/cache
/adhoc-angular/dist
/adhoc-angular/target

/adhoc-angular/temp-angular

/adhoc-core/target

/adhoc-manager/target

/adhoc-kiosk/target

/adhoc-third-party/target

/terraform/.terraform
/terraform/terraform.tfstate.d

/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars

/httpRequests

/db

/.idea
/.jpb

*.iml
