@if (data()) {
  @let page = data()!.page;
  @let content = data()!.content;
  @if (page.totalElements) {

    <div class="d-flex justify-content-end">
      <div class="mt-2 me-4 text-nowrap">
        {{ (page.number * page.size) + 1 }}
        - {{ (page.number * page.size) + content.length }}
        of {{ page.totalElements }}
      </div>
      <ngb-pagination [page]="page.number + 1"
                      [pageSize]="page.size"
                      [collectionSize]="page.totalElements"
                      [maxSize]="3"
                      [boundaryLinks]="true"
                      (pageChange)="onPageChange($event)"/>
    </div>
  }
}
